Basketball Courts NYC
 

<script src="/javascripts/lib/jquery.js"></script>
<script src="/javascripts/lib/underscore.js"></script>
<script src="/javascripts/lib/backbone.js"></script>
<script type='text/template' id='map-template'>
<div id="courts">
	<%%= name  %>
</div>
</script>
<script src='/javascripts/app.js'></script>
 
<script src="/javascripts/lib/geoPosition.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<!-- <script src='/javascripts/models/Court.js'></script>

<script src='/javascripts/collections/CourtList.js'></script>

<script src='/javascripts/views/CourtView.js'></script>

<script src='/javascripts/views/CourtViewList.js'></script -->


<!-- <input class="search" name="query">
	<form action="/api/courts">
		<input type="text" name="query" placeholder='Basketball Court'/>
		<input type='Submit' value='search'/>
	</form>	 -->	

<!-- 	<form onsubmit="$('#searchAddress').trigger('click');return false">
		<input type="text" id="inputTextAddress" placeholder="Address or Zip Code">
	</form> -->
	<!-- 	<ul class="court">
		
		</ul> -->

<script>

google.maps.visualRefresh = true; //removes the marker
  var geocoder;
  var map;
  var infowindow = new google.maps.Geocoder();
  var mapOptions;
  var centerLat = 40.7053804;
  var centerLon = -73.9962504;
  var zoom = 10;
  var marker = '/images/yourhere.jpeg'
// 		var image = '/images/basketball.png';
	
// 	}
//search the map to see the closest location on the map
function initialize() {
	geocoder = new google.maps.Geocoder();
	var latlng = new google.maps.LatLng(40.7053804, -73.9962504);
	var mapOptions = {
			 zoom: 14,
			center: latlng
	}
		map = new google.maps.Map(document.getElementById("map"), mapOptions);
}	

//search
  function codeAddress() {
    var address = document.getElementById("address").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
  

  //reverse geocode location
  	function codeLatLng() {
  		var url = '/api/courts?$where=within_circle'
  		var lat = parseFloat(lat)
  		var lng = parseFloat(lon)
  	}

 //  //get current location *****not working&
	var success = function(pos) {
			centerLat = pos.coords.latitude;
			centerLon = pos.coords.longitude;
			zoom = 15;
			init(); 
		}


	function getLocation(){
			navigator.geolocation.getCurrentPosition(success);
			return false;
		}


	function init() {
		var mapDiv = document.getElementById("map")
		
		function get_location() {

			navigator.geolocation.getCurrentPosition("map");
		}		
	
		mapOptions = {
			center: new google.maps.LatLng(centerLat, centerLon),
			zoom: zoom,
			matTypeId: google.maps.MapTypeId.roadmap,
			icon: "/images/yourhere.jpeg"
			};

		var map = new google.maps.Map(mapDiv, mapOptions);
	}

//showing courts withing one mile of the user position 
	function getResults(options) {
		var options = options || {}
		var url = "/api/courts?$where=within_circle("+ options.lat +","+ options.lon +",1610)"
	
		$.get(function(url,data) {
			$('#courts').empty();
			for (var i=0; i < data.length; i++){
				var current = data[i];
				$('#courts').append(current.name);
				var newMarker = new google.maps.LatLgn(current.lat, current.lon);
				var newMarkerTitle = current.name;
				addMarker(newMarker, newMarkerTitle);

			}
		});
	}

	function getLongAndLat(){

	}

	function getBoth(){
		// getLongAndLat should return a hash
		// two keys: longitude and latitude
		// var longAndLat = getLongAndLat();
		// codeAddress and getResults should take
		// an options hash. 
		codeAddress();
		// getResults();
	}	


	$.ajax({
		url: '/api/courts',
		success: function(data){
			$(data).each(function(idx, ele){
				(function(){
					var court = ele;
					
					var latlng = new google.maps.LatLng(parseFloat(court.lat), parseFloat(court.lon));
					
					var marker = new google.maps.Marker({
						position: latlng,
						clickable: true,
						icon: '/images/basketball.png', 
						animation: google.maps.Animation.DROP,
						map: map
					})
				})();
			});
		}
	});

  </script>

<body onload="initialize()">
 <div id="map" style="width: 100%; height: 80%;"></div>
  <div>
    <input id="address" type="textbox" value="BasketBall, NYC">
    <input type="button" value="Search" onclick="getBoth()">
  </div>
</body>


<!-- <body onload="initialize()">

</script> -->

<form>
	<input class = 'get-location' type="button" onclick="getLocation()" value="Get Location">
</form>
<script>

$(function(){

  courts = new CourtList();

  var allCourts = new CourtListView({
                        collection: courts,
                        el: $('#courts')
                      });
  courts.fetch();
});
</script>
<!-- <div id="mymap"></div> -->




