<title>Basketball NYC App</title>

<link rel="stylesheet" href="/stylesheets/styles.css">
<link rel="stylesheet" href="/stylesheets/skeleton.css">
<link rel="stylesheet" href="/stylesheets/normalize.css">


<body onload="initialize()">

<script src="/javascripts/lib/jquery.js"></script>

<script src="/javascripts/lib/geoPosition.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false"></script>

<script src="https://d3js.org/d3.v3.min.js"></script>

	<h1 class='logo'> Basketball NYC App </h1>

   <div class='search-box'>
	<input id="address" type="textbox"  />
    <input id="address-button" type="button" value="Search" onclick="getBoth()" />
  <!--   <input id="find-me" type="button" value="Find-Me" onclick="findMe()" /> -->
  </div>

</body>

<script>

	$('#address').keyup(function(e){
		if(e.keyCode == 13){
			$("#address-button").click();
		}
	});

	var width = 1300;
	var height = 800;
	var ball = '/images/basketball.png'

      //Create SVG element
      var svg = d3.select("body")
                  .append("svg")
                  .attr("width", width)
                  .attr("height", height);

      var colors = d3.scale.category20b();	 
	 
	 d3.json('/api/courts', function(json) {

		var courts = json;

		var force = d3.layout.force()
                    .nodes(courts)
                    .size([width, height])
                    .start();

      	var nodes = svg.selectAll("image")
                    .data(courts)
                    .enter()
                      .append("image")
                      .attr("height", 30)
                      .attr("width", 30)
                      .attr("xlink:href",'/images/basketball.png')	     
    
    force.on("tick", function() {
     	nodes.attr("x", function(d) { return d.x; })
             .attr("y", function(d) { return d.y; })
      	});  
	});

	var tooltip = d3.select('circle')
					.append('div')
					.style("position", "absolute")
					.style("z-index", "10")
					.style("visibility", "hidden")
					.text("a simple tooltip");

function getBoth() {
	$('svg').slideToggle("slow");
	$('#map').show();
	codeAddress();
}


function initialize() {
	geocoder = new google.maps.Geocoder();
	var latlng = new google.maps.LatLng(40.7053804, -73.9962504);
	var mapOptions = {
		 	zoomControl: false,
		 	scaleControl: false,
		    scrollwheel: false,
		    disableDoubleClickZoom: true,
			zoom: 14,
			center: latlng
	}
		map = new google.maps.Map(document.getElementById("map"), mapOptions);
}	

function findMe() {
	// function get_location() {
	// 	navigator.geolaction.getCurentPosition(show_map);
	// }

	// function show_map(position) {
	// 	var lat = position.coords.latitude;
	// 	var lon = positon.coords.longitude;

	// 	alert(lat)
	// }

	if(geoPosition.init()){
		geoPosition.getCurrentPosition(success, failure);
	}

	function success(pos){
		var lat = pos.coords.latitude;
		var lon = pos.coords.longitude;
		alert(lat+', '+lon);
	}

	function failure(){
		alert("We can't determine your location!");
	}

}
//search
  function codeAddress() {
    var address = document.getElementById("address").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }

  //get current location *****not working&
  	// }
  	//  if (geoPosition.init()) {
  	//  	geoPosition.getCurrentPosition();
  	// }  	 
  



//showing courts withing one mile of the user position 
	function getResults(options) {
		var options = options || {}
		var url = "/api/courts?$where=within_circle("+ options.lat +","+ options.lon +",1610)"
	
		$.ajax(function(url,data) {
			$('#courts').empty();
			for (var i=0; i < data.length; i++){
				var current = data[i];
				$('#courts').append(current.name);
				var newMarker = new google.maps.LatLgn(current.lat, current.lon);
				var newMarkerTitle = current.name;
				addMarker(newMarker, newMarkerTitle);

			}
		});
	}

// var iw = new google.maps.InfoWindow();

// marker = new google.maps.Marker(initialize); 

// google.maps.event.addListener(marker,'click', function(){

	$.ajax({
		url: '/api/courts',
		success: function(data){
			$(data).each(function(idx, ele){
				(function(){
					var court = ele;
					
					var latlng = new google.maps.LatLng(parseFloat(court.lat), parseFloat(court.lon));



					var marker = new google.maps.Marker({
						position: latlng,
						clickable: true,
						icon: '/images/basketball.png', 
						animation: google.maps.Animation.DROP,
						map: map,
						title: court.name
					});

					var infoWindow =  new google.maps.InfoWindow({
					    content: ''
					});

					bindInfoWindow(marker, map, infoWindow, 'Name:' + '' + court.name + '</br>' + 'Location:' + court.location)

						// iw.setContent(court.name)
						// iw.open(marker)
				})();
			});
		}
	});

var bindInfoWindow = function(marker, map, infowindow, html) {
	    google.maps.event.addListener(marker, 'click', function() {
	        infowindow.setContent(html);
	        infowindow.open(map, marker);
	    });
	} 


	// google.maps.event.addListener(marker, 'click', function() {
 //    infowindow.open(map,marker);

</script>

 <div id="map" style="width: 100%; height: 80%;"></div>
	<!-- 	<div id = 'courts'>

	</div> -->
</body>

	
