
<body>

<script id="courtTemplate" type="text/template">

	<%%= court.name  %></br>	
	<%%= court.location %></br>
</script>


<script src="/javascripts/lib/underscore.js"></script>
<script src="/javascripts/lib/jquery.js"></script>
<!-- <script src="/javascripts/lib/handlebars.js"></script> -->
<script src="/javascripts/lib/backbone.js"></script>

<script src='/javascripts/app.js'></script>

<h1> List Of All Basketball Courts in NYC</h1>
<ul id  = 'courts'>

	</div>

</body>

