<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Backbone.GoogleMaps | Example</title>
  <style type="text/css">
    html {
      height: 100%
    }

    body {
      height: 100%;
      margin: 0;
      padding: 0
    }

    #map_canvas {
      height: 100%
    }
  </style>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="javascripts/lib/jquery.js"></script>
  <script type="text/javascript" src="javascripts/lib/underscore.js"></script>
  <script type="text/javascript" src="javascripts/lib/backbone.js"></script>
  <script type="text/javascript" src="javascripts/lib/backbone.googlemaps.js"></script>
</head>

<body>

<!-- TEMPLATE: InfoWindow
 ============================== -->
<script id="infoWindow-template" type="text/html">
  <h2><%%= court.name %></h2>
  <p>Latitude: <%%=court.lon %></p>
  <p>Longitude: <%%=court.latlng %></p>
</script>

<div id="map_canvas" style="width:100%; height:100%"></div>

<script type="text/javascript">
  /**
   * Example App
   */

  // Sample Data

  var centerLat = 40.7053804;
  var centerLon = -73.9962504;
  var marker = '/images/yourhere.jpeg'
  var map;
  var mapOptions;

  var places = new Backbone.GoogleMaps.LocationCollection({
  });

$(document).ready(function() {
    var mapOptions = {
      center: new google.maps.LatLng(centerLat, centerLon),
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    // Instantiate map
    var map = new google.maps.Map($('#map_canvas')[0], mapOptions);

    // Render Markers
    var markerCollectionView = new Backbone.GoogleMaps.MarkerCollectionView({
      collection: places,
      map: map
    });
    markerCollectionView.render();
 });






</script>
</body>
</html>


