<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	  <link rel="stylesheet" href="/stylesheets/styles.css">
</script>

<script src="/javascripts/lib/jquery.js"></script>
<script src="/javascripts/lib/underscore.js"></script>
<script src="/javascripts/lib/backbone.js"></script>
<script src='/javascripts/app.js'></script>
</head>
<body>	

<ul class='courts'>
	
</ul>


</body>
</html>
